include LICENSE
include README.rst
recursive-include djangocms_cameraslider/locale *
recursive-include djangocms_cameraslider/migrations *
recursive-include djangocms_cameraslider/templates *
recursive-include djangocms_cameraslider/tests *
